name: Mend dep reacahbility Scan (unified CLI)

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    
    - name: build with pnpm
      run: pnpm install

    - name: Mend CLI Scan
      env:
        MEND_EMAIL: ${{secrets.MEND_SANDBOX_EMAIL}}
        MEND_USER_KEY: ${{secrets.MEND_SANDBOX_USER_KEY}}
        MEND_URL: https://saas.mend.io
      run: |
        echo Downloading Mend CLI
        curl https://downloads.mend.io/cli/linux_amd64/mend -o /usr/local/bin/mend && chmod +x /usr/local/bin/mend
        echo run Mend dependencies scan
        mend dep -u -r -s "pnpm_tests//unified_CLI_reachability"
